@using keyraces.Server.Shared
@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Auth checking...</p>
            </Authorizing>
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated ?? false)
                {
                    <p role="alert" class="text-danger">
                        You dont have access to this page.
                    </p>
                    <p>
                        If you think this is a mistake, please contact the site administrator.
                    </p>
                }
                else
                {
                    <p role="alert" class="text-warning">
                        To get access to this page contact the site administrator.
                    </p>
                    <RedirectToLogin />
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Не найдено</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">There is nothing</p>
        </LayoutView>
    </NotFound>
</Router>
